<div class="container">
    <div class="exercise">
        <div class="exercise-name">
            <span class="exercise-name-value">{{exerciseData?.name}}</span>
        </div>
        <div class="exercise-description">
            <span class="exercise-type-value">Type: {{exerciseData?.description}}</span>
        </div>
        <div class="exercise-musclePart">
            <span class="exercise-location-value">MusclePart: {{exerciseData?.musclePart}}</span>
        </div>
        <div class="exercise-fitnessType">
            <span class="exercise-fitnessType-value">FitnessType: {{exerciseData?.fitnessType}}</span>
        </div>
        <div class="exercise-complexity">
            <span class="exercise-complexity-value">Complexity: {{exerciseData?.complexity}}</span>
        </div>
    </div>
</div>