<div class="container">

    <form class="details-form">
        <h2 class="details-header">Login</h2>
        <div class="control-form">
            <label for="email">Email</label>
            <input placeholder="email" type="text" name="email" id="email" [(ngModel)]="client.email"/>
        </div>
        <div class="control-form">
            <label for="password">Password</label>
            <div class="password-div">
                <input type="text" placeholder="password" type='{{isHidden ? "password" : "text" }}' name="password" id="password" [(ngModel)]="client.password" />
                <img (click)="changeVisibility()" [hidden]="!isHidden" src="../../../assets/view.png" alt="View">
                <img (click)="changeVisibility()" [hidden]="isHidden" src="../../../assets/hide.png" alt="Hide">
            </div>
        </div>
        <button class="btn-details" (click)="login()">Login</button>
    </form>
