.container {
    width: 100%;
    box-sizing: border-box;
}

.container .exercise-header {
    text-align: center;
    color: #fff;
}

.container .exercise-item {
    padding: 20px;
    margin: 0 auto 20px auto;
    width: 50%;
    background-color: aqua;
    text-align: center;
    border-radius: 10px;
}

.container .exercise-item-footer {
    margin-top: 20px;
}

.container .exercise-item-footer .btn-details {
    outline: 0;
    border: none;
    width: 250px;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
}
.container .exercise-item-footer .btn-details:hover{
    background-color: #ddd;
}