<div class="container">

    <form [hidden]="isExercisesAdded" class="details-form">
        <h2 class="details-header">{{mode === 'create'? "Create" : "Edit"}} Fitness</h2>
        <div class="control-form">
            <label for="name">Name</label>
            <input placeholder="name" type="text" name="name" id="name" [(ngModel)]="fitness.name" required />
        </div>
        <div class="control-form">
            <label for="location">Location</label>
            <input placeholder="location" type="text" name="location" id="location" [(ngModel)]="fitness.location"
                required />
        </div>
        <div class="control-form">
            <label for="type">Type</label>
            <input placeholder="type" type="text" name="type" id="type" [(ngModel)]="fitness.type" required />
        </div>

        <button class="btn-details" (click)="mode === 'create' ? createFitness() : editFitness()">{{mode === 'create'?
            "Add" : "Edit"}}</button>
    </form>
    <h3 class="table-header" (click)="isAdded()" [hidden]="isExercisesAdded">Add Exercises to this fitness (click here)</h3>
    <h3 class="table-header" (click)="isExercisesAdded = false" [hidden]="!isExercisesAdded">Hide Exercises to this fitness (click here)</h3>
    <div class="exercises" [hidden]="!isExercisesAdded">
        <table class="exercises-table">
            <tr>
                <th class="name">Name</th>
                <th class="muscle">Muscle Part</th>
                <th colspan="2">Details</th>
            </tr>
            <tr *ngFor="let exercise of execisesToFitness">
                <td class="name">{{exercise.name}}</td>
                <td class="muscle">{{exercise.musclePart}}</td>
                <td colspan="2" (click)="exerciseDetails(exercise.id)">Edit</td>
            </tr>
            <tr>
                <td>
                    <input type="text" [ngModel]="newExercise.name" placeholder="Name:" readonly>
                </td>
                <td>
                    <input type="text" [ngModel]="newExercise.musclePart" placeholder="MusclePart:" readonly>
                </td>
                <td class="clickable" (click)="clearNew()">Remove</td>
                <td class="clickable" (click)="addExercise()">Add</td>
            </tr>
        </table>
        <button class="add-exercise-btn" *ngIf="!isAddedHidden" (click)="showSelect()">+</button>
        <select class="add-select" *ngIf="isAddedHidden" (ngModelChange)="changeNewExercise($event)" [(ngModel)]="exercises" >
            <option *ngFor="let exercise of exercises" value="{{exercise.id}}">{{exercise.name}}</option>
        </select>
        
    </div>
</div>