.navigation {
    margin-bottom: 40px;
}
.navigation ul{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 60%;
    margin: 0 auto;

    background: #fff;
    list-style-type: none;
    border-radius: 10px;
}
.navigation ul li {
    background-color: aqua;
    color: #000;
}

.navigation ul li a, .navigation ul li span {
    color: #000;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}

.navigation ul li a:hover, .navigation ul li span:hover {
    background-color: #129c9cad;
    color: #ddd;
}